dominate==2.9.1
easydict==1.13
h5py==3.12.1
hydra-core==1.3.2
matplotlib==3.9.2
monai==1.3.1
numpy==1.24.3
opencv_python==4.10.0.84
pfm==0.6.0
pydicom==3.0.1
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.5.2
scipy==1.14.1
SimpleITK==2.4.0
skimage==0.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.0
